.main {
  width: 95%;
  display: flex;
  height: 3rem;
  justify-content: space-around;
  padding-left: 1rem;
  align-items: center;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.displayWindow {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-around;
  padding-top: 1rem;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
