.countryDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backButtondiv {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  display: flex;
  justify-content: flex-start;
}
.backButton {
  height: 3rem;
  width: 6rem;
}

.backButton :hover {
  cursor: pointer;
}

.aboutCountry {
  display: flex;
  justify-content: flex-start;
  
}

.backButton {
  align-items: flex-start;
}

.navBar {
  margin-top: 0.5rem;
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  align-items: center;
  height: 4rem;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.informationlayer1 {
  display: flex;
  justify-content: space-around;
}

.countryFlagImage {
  margin-left: 3rem;
  width: 30rem;
  height: 20rem;
  border-radius: 0.2rem;
  margin-bottom: 3rem;
}

.allInformation {
  margin-left: 5rem;
}
.info {
  display: flex;
  flex-direction: column;
}

/* .mainContainer{

    height: 100%;
} */
.rightInfo{

    margin-left: 10rem;
}

.borderCountries{

  display: flex;

  align-items: center;
  

}