.card {
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 50%;
  margin-left: 1rem;
  margin-bottom: 2rem;
  padding: 0.3rem;
  font-size: large;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.2rem;
}
.card h4 {
  font-weight: lighter;
  color: black;
}
.flagImage {
  width: 100%;
  height: 30%;
}
